@import "tailwindcss";

body {
  font-family: sans-serif;
  margin: 0;
}

.app {
  min-height: 100vh;
  height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 3em 1fr;
  min-width: 0;
}

/* .sidebar {
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
} */

.content {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.sidebar li:hover {
  background-color: #8c8c8c;
}

.sidebar li { 
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

button:hover {
  cursor: pointer;
}

input {
  background-color: #f0f0f0;
}

input:focus {
  outline: none;
} */

@layer base {
  /* atoms */
  input {
    @apply bg-gray-100 p-1 text-sm;
  }
  input:focus {
    @apply outline-1 outline-gray-500;
  }
  hr {
    @apply border-gray-300;
  }

  /* molecules */

  /* organisms */
  .sidebar {
    @apply bg-gray-100 border-r border-gray-300 text-sm h-full;
  }
}